.new {
    &__title {
        font-size: 1.6rem;
        text-align: center;
        width: 45%;
        margin: 0 auto;
        padding-top: 7rem;
        h1 {
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        p {
            color: $color-grey;
        }
    }
    &__feed {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        &--item {
            position: relative;
            font-size: 1.2rem;
            width: 35rem;
            background-color: $color-white;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            .img-new {
                width: 35rem;
                margin-bottom: 3rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            h3 {
                margin: 2rem 0;
            }

            h4 {
                color: $color-grey-white;
            }

            .new__text {
                margin: 0 2rem 2rem 2rem;
            }

            &::after {
                position: absolute;
                content: "NATURE";
                text-align: center;
                font-weight: 600;
                width: 12rem;
                height: 3rem;
                background-color: $color-bg-grey-2;
                top: 19rem;
                left: 1.4rem;
                color: $color-white;
                padding: 0.8rem 0;
            }
        }
    }
}
