*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    letter-spacing: 1.6px;
}
