.section-project {
    position: relative;
    height: 132rem;
}

.section-logo {
    display: flex;
    justify-content: space-around;
}

.section-new {
    background-color: $color-bg-grey-white;
}
